@charset "UTF-8";
body {
    background-repeat: no-repeat;
}

@media (max-width: 575.98px) {
    body {
        background-position-x: left;
    }
}

h1, h2 {
    color: #FFFFFF;
}

h1 {
    font-weight: 800;
    font-size: 2em;
}

@media (max-width: 575.98px) {
    h1 {
        font-size: 1.2em;
    }
}

h2 {
    font-size: 1em;
}

h4 {
    padding: 30px 20px 0px 20px;
    font-weight: 600;
}

@media (max-width: 575.98px) {
    h4 {
        font-size: 1.2em;
    }
}

.pagina-texto-header {
    padding-top: 100px;
}

    .pagina-texto-header span {
        color: #FFFFFF;
        font-size: .8em;
        font-weight: 800;
    }

.info-escola {
    margin-top: 20px;
    margin-bottom: 45px;
}

.cursos {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 50px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 0;
}

.cursos-header {
    padding: 30px;
}

    .cursos-header h3 {
        font-size: 2em;
        font-weight: 700;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .cursos-header span {
        color: #525050;
        font-weight: 600;
        position: relative;
    }

ul.dash {
    padding: 10px 20px 20px 20px;
    margin-top: 0px;
}

    ul.dash a {
        color: #000000;
        font-size: .9em;
        text-decoration: underline;
    }

@media (max-width: 575.98px) {
    ul.dash a {
        font-size: .8em;
    }
}

ul.dash a:hover {
    color: #dc233c;
}

body {
    background-repeat: no-repeat;
}

@media (max-width: 767.98px) {
    body {
        background-position-x: center;
        background-size: 1200px;
    }
}

.btn {
    background-color: transparent;
}

.cursos-header {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
}

@media (max-width: 767.98px) {
    .cursos-header {
        height: 250px;
    }
}

.cursos-header h1 {
    font-weight: 800;
    color: #fff;
}

@media (max-width: 767.98px) {
    .cursos-header h1 {
        font-size: 1.5em;
    }
}

.pagina-texto-shadow {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 1px 50px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 100px;
}

@media (max-width: 767.98px) {
    .pagina-texto-shadow {
        border-radius: 0;
    }
}

.pagina-texto-shadow .pagina-texto {
    padding: 30px;
}

@media (max-width: 767.98px) {
    .pagina-texto-shadow .pagina-texto {
        padding: 20px 20px 0px 20px;
    }
}

.pagina-texto-shadow .pagina-texto h2 {
    font-weight: 700;
    font-size: 1.8em;
}

@media (max-width: 767.98px) {
    .pagina-texto-shadow .pagina-texto h2 {
        font-size: 1em;
    }
}


.carousel-item > img {
    object-fit: cover;
    height: 300px;
}


@media(min-width: 576px) {
    .carousel-item > img {
        height: 300px;
    }
}


@media(min-width: 768px) {
    .carousel-item > img {
        height: 400px;
    }
}


@media(min-width: 992px) {
    .carousel-item > img {
        height: 450px;
    }
}


@media(min-width: 1200px) {
    .carousel-item > img {
        height: 500px;
    }
}

.carousel-control-next, .carousel-control-prev {
    width: 2%;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%343A40' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%343A40' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.btn-voltar {
    background-color: #dc233c;
    border-color: #dc233c;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
}

.text-black{
    color: black;
}